body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(59, 221, 208);
}

.botao1 {
    height: 40px;
}


.div1 {
    padding: 20px;
    background-color: rgb(182, 237, 236);
    margin: 0 auto;
    width: 700px;
    border-radius: 10px;
}