body{
    background-color:rgb(135, 0, 162);
    color:black;
    text-align: center;
}
section{
    display: flex;
    justify-content: space-around;
    box-shadow: 4px 5px 2px black;
    border-radius: 5px 10px ;
    background-color: white;
    padding: 70px;
}
.verso{
    display: block;
    margin-block-start: 2em ;
    margin-block-end: 2em;
    margin-inline-end: 3px;
    font-style:unset;
    color: rgb(94, 0, 144);
    background-color: white;
}
button{
    background-color: rgb(85, 0, 146);
    color: white;
}
.Time{
    background-color: rgb(94, 0, 160);
    color: white;
}
